@font-face {
    font-family: 'FlamencoRegular';
    src: url('./fonts/FlamencoRegular/FlamencoRegular.eot');
    src: url('./fonts/FlamencoRegular/FlamencoRegular.eot') format('embedded-opentype'),
         url('./fonts/FlamencoRegular/FlamencoRegular.woff2') format('woff2'),
         url('./fonts/FlamencoRegular/FlamencoRegular.woff') format('woff'),
         url('./fonts/FlamencoRegular/FlamencoRegular.ttf') format('truetype'),
         url('./fonts/FlamencoRegular/FlamencoRegular.svg#FlamencoRegular') format('svg');
    font-weight: normal;
  font-style: normal;
}