/* Menu */

.menu-bottom {
    bottom: 5px;
    left: 16px;
    right: 16px;
    position: absolute;
}

.menu-top {
    top: 16px;
    left: 16px;
    right: 16px;
    position: absolute;
}

.menu .avatar {
    top: 16px;
    left: 0px;
    height: 80px;
    width: 80px;
      line-height: 80px;
    font-size: 40px;
    position:relative;
}

.menu .bar.bar-header.expanded {
    box-shadow: none;
    min-height: 150px;
}

.menu-open .bar.bar-header.expanded {
    background-position: 0;
    background-size: 100%;
}

.has-expanded-header {
    top: 150px !important;
}

.bar.expanded {
 min-height: 150px!important;
}

.menu-username {
font-family: FlamencoRegular;
    color:$energized !important;
    letter-spacing:0.09em;
    font-size:$font-size-large;
}

.menu {
    background-color:$lighter!important;
i {
font-size: 20px!important;

}
}

