.sqd-account {
    
    .previous-input-focus, .cloned-text-input + input, .cloned-text-input + textarea {
position: absolute !important;
left: -9999px;
width: 200px; 
}

    .item {
    border-style:none!important;
    }
        .item-avatar {
    img, span.avatar{
max-height: 65px!important;
        max-width: 65px!important;
    left:0!important;}
    padding-left: 77px!important;
    min-height: 82px;
    
}
    
   
    
}