$OpenSansPath: "./fonts" !default;
$OpenSansVersion: "1.1.0" !default; 
$FlamencoPath: "./fonts" !default;
$button-border-radius:            2px !default;
$input-color-placeholder:         #A9A9A9 !default;
$font-family-sans-serif:          'Open Sans' !default;
$font-family-light-sans-serif:    'Open Sans Light' !default;
$font-family-serif:              'Open Sans' !default;
$headings-font-family:            FlamencoRegular !default;
$font-size-base:                18px !default;
$font-size-large:                21px !default;
$font-size-small:                   14px !default;

