<ion-modal-view class="background sqd-fullscreen">
<ion-content  ng-style="squidle.adjustForIos">

 <ion-nav-bar class="bar-clear">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon" ng-click="squidle.closeFullscreen()"><i class="white icon ion-ios-close"></i></button>
    </ion-nav-buttons>
     </ion-nav-bar>



<ion-scroll overflow-scroll="false" zooming="true" direction="xy" min-zoom="1" max-zoom="100" delegate-handle="fullScreenImage" style="width: 100%; height: 100%; position: absolute; top:0; left:0" on-double-tap="squidle.resetFullScreenImage()">

    <img cache-src="{{::squidle.data.challenge.photo.value}}" style="object-fit:contain; object-position: 50% 50%;width:100%;" ng-hide = "squidle.prizeDisplayed" class="test">
    <img cache-src="{{::squidle.data.prize.photo.value}}" style="object-fit:contain; object-position: 50% 50%;width:100%;" ng-show = "squidle.prizeDisplayed" class="test">

 </ion-scroll>

</ion-content>
</ion-modal-view>
