
<ion-view view-title="What's Squidler" class="background">
  <ion-content class="padding white">
      <div class="row padding">
   Squidler turns messaging into a game <br/><br/>
          </div>

       <div class="row padding">
Challenge your friends in a fun and unique way by sending them a locked message which they can only unlock by answering a personal question you set.
           <br/><br/>
 </div>
       
       <div class="row padding">
This is how it works: <br/>
1. Craft a message - you can send text, image, animation, or video <br/>
2. Lock it with a question – try something challenging that your friend will find fun  <br/>
3. Share it via your favourite social channel or messaging app <br/> <br/>

           </div>
  </ion-content>
</ion-view>
