<ion-view class="sqd-welcome background">
    <ion-content class="background sqd-fullscreen padding">
        <div class="padding full">
        <div class="row row-center full white text-center padding" ng-hide="welcome.debugMode">

            <div class="col">

                <h3 class="no-margin">Error 404</h3>
                <div class="logo-container padding">
                    <img ng-src="img/logo_orange_sad.svg" class="logo" ng-click="$state.go('welcome')">
                </div>

                Sorry, we can't find what you're looking for


            </div>

        </div>


        </div>
    
    </ion-content>

</ion-view>