<ion-modal-view class="background">
    
<camera id="prize"  ng-attr-image = "create.squidle.prize.media.from=='device' ?  create.squidle.prize.media.url : undefined" close="create.hideCamera(id,img)" ng-show="create.activePanel=='prize'" active="create.activePanel=='prize'"></camera>
    
<camera id="challenge" ng-attr-image = "create.squidle.challenge.media.from=='device' ?  create.squidle.challenge.media.url : undefined" close="create.hideCamera(id,img)" ng-show="create.activePanel=='challenge'" active="create.activePanel=='challenge'"></camera>
    
</ion-modal-view>
